{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>Hi, {{ current_user.username }}!</h2>

        <div class="section-row">

        {% for product in products %}
            <div class="card">
                <div class="card-image card-image_custom-size">
                <img src="../static/images/phone.png">
                    <span class="card-title">
                        <a href="{{ url_for('products', title=product.title) }}">{{ product.title }}</a>
                    </span>
                </div>
                <div class="card-content">
                    <p>{{ product.body }}</p>
                </div>
                <div class="card-action">
                    <a href="#">{{ product.price }}</a>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endblock %}
</div>